{% extends 'base.html' %}
{% block content %}
    <h2>Create an Account</h2>
    <form action="{{ url_for('signup') }}" method="POST">
        <input type="text" name="username" placeholder="Username" minlength="4" required>
        <input type="password" name="password" placeholder="Password (Min. 8 characters)" minlength="8" required>
        <button type="submit">Sign up</button>
    
    
    
        <select name="security_question" required style="width: 100%; padding: 10px; margin-bottom: 10px; background: #2c2c2c; color: white; border-radius: 8px;">
        <option value="" disabled selected>Select a Security Question</option>
        <option value="What was the name of your first pet?">What was the name of your first pet?</option>
        <option value="What city were you born in?">What city were you born in?</option>
        <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
        </select>
        <input type="text" name="security_answer" placeholder="Your Answer" required>

    </form>

    

    <p style="color: var(--text-muted); font-size: 13px; margin-top: 15px;">
        Already have an account? 
        <a href="{{ url_for('login') }}" style="color: var(--accent-color); text-decoration: none;">Log in here</a>.
    </p>

{% endblock %}